# Dossiers générés par Visual Studio
/bin/
/obj/
/*.user
/*.suo
_UpgradeReport_Files/
upgrade.log

# Fichiers de build
*.exe
*.dll
*.pdb
*.cache

# Dossier des packages NuGet (si utilisé)
packages/

# Fichiers IDE (VS Code, etc.)
.vscode/
.idea/
*.swp

# Fichiers temporaires
*.tmp
*.bak

# Fichiers InnoSetup
/artifacts/

# Fichiers de documentation et ressources annexes
/Docs/